NEXT_PUBLIC_SUPABASE_URL=https://sdhkkjnqgadqzjdkrsmx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkaGtram5xZ2FkcXpqZGtyc214Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0NzM5NTQsImV4cCI6MjA5NzA0OTk1NH0.S9OuR3U2GWB2U72o_yjCitPQ6YEfacNsthGCRF1a8Hc
